<div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">Your profile</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Featured post</a>
              </h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#">Continue reading</a>
            </div>

<h2><%=@user.first_name%></h2>
