            <div class="card mb-4 box-shadow text-center">
                      <div class="card-header">
                        <h4 class="my-0 font-weight-normal"><%=@user.first_name%> <%=@user.last_name%></h4>
                      </div>
                      <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                          <li><%=@user.email%></li>
                          <li><%=@user.description%></li>
                        </ul>
                      </div>
                    </div>
