<form>
  <div class="form-row col-md-4">
    <div class="form-group col-md-4">
      <label for="inputEmail4">Start date</label>
      <input type="date_time" class="form-control" id="inputEmail4" placeholder="Date">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">Duration</label>
      <input type="integer" class="form-control" id="inputPassword4" placeholder="Duration">
    </div>
  </div>
  <div class="form-group col-md-4">
    <label for="inputAddress">Title</label>
    <input type="string" class="form-control" id="inputAddress" placeholder="Title">
  </div>
  <div class="form-group col-md-4">
    <label for="inputAddress2">Price</label>
    <input type="integer" class="form-control" id="inputAddress2" placeholder="Price">
  </div>
    <div class="form-group col-md-4">
    <label for="inputAddress2">Location</label>
    <input type="integer" class="form-control" id="inputAddress2" placeholder="Location">
  </div>
  <button type="submit" class="btn btn-primary">Register event</button>
</form>
