<div class="jumbotron">
        <h1><%= @event.title%></h1>
        <p class="lead">What ? <%=@event.description%></p>
        <p class="lead">Where ? <%=@event.location%></p>
        <p class="lead">When ? <%=@event.start_date%></p>
      </div>
